.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-bottom: 1.5rem;
}
h2{
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.login-card {
  width: 400px;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  background: white;
  text-align: center;
}

.field {
  margin-bottom: 1.5rem;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem; }

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; /* Important pour ne pas déborder */
}

/* Alignement Croix Rouge + Points */
.password-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-clear-red {
  background: #ff4d4d;
  color: white;
  border: none;
  width: 34px;
  height: 34px;
  border-radius: 10%;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.dot {
  width: 12px; height: 12px;
  border-radius: 50%;
  background: #ddd;
}

.dot.active { background: #007bff; }

/* Pavé numérique */
.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.numpad button {
  height: 55px;
  border-radius: 8px;
  border: 1px solid #eee;
  background: #f8f9fa;
  font-size: 1.3rem;
  cursor: pointer;
}
.error-text{
  margin-top: 1.5rem;
  color: red;
  font-size: 0.8rem;
}

.login-button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 14px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.login-button:disabled {
  background: #abcfe2;
  cursor: not-allowed; }

.footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.footer a {
  color: #abcfe2 ;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.footer a:hover {

  color: #007bff;
}
