<div class="login-wrapper">
  <div class="login-card">
    <h2>CodingBank</h2>

    <div class="field">
      <label>Client code </label>
      <input type="text"
             maxlength="8"
             [value]="codeClient()"
             (input)="codeClient.set($any($event.target).value)"
             placeholder="12345678">
    </div>

    <app-password-component [value]="password()"
                            [maxLength]="6"
                            (valueChange)="updatePassword($any($event))">

      </app-password-component>

    @if (error()) {
      <p class="error-text">
        {{error() }}
      </p>
    }
    <button class="login-button"
            [disabled]="!isFormValid()"
            (click)="onLogin()">
      Login
    </button>

    <p class="footer">
      Don’t have an account yet? <a routerLink="/register">Register</a>
    </p>
  </div>
</div>
